body {   
    margin: 0;
    font-family: "Sans-serif", Verdana, serif;
    font-size: medium;

    background-image: linear-gradient(to right, rgba(250, 250, 250, 0.7) 0%, rgba(250, 250, 250, 0.95) 20%), url('bg_img2.jpeg');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #0a0a0a;
}


article {
    margin: auto;
    padding: 10px;
    max-width: 960px;

    padding-top: 60px;
    transition: opacity 0.5s ease;  /* Transition for smooth fade */
    /* opacity: 0;  Initially hidden */
}



.panel1 {    
    position: fixed;
    width: 100%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgba(11, 10, 10, 0.95);
}


.panel {        
    margin: auto;

    top: 0; /* Position the navbar at the bottom of the page */
    width: 960px;
    max-width: 960px;

    /*background-color: #dcdcdc;*/
    cursor: pointer;
    z-index: 100;
}

.panelLabel {
    display: inline-block;
    padding: 5px 20px 5px 20px;

    font-family: "Monospace", Lucida Console, monospace;
    font-weight: bold;
    font-size: large;
    color: rgba(240, 239, 239, 0.734);
}


.panelLabel:hover {
    text-decoration: none;
    color: white;
    background-color: #2f2f2f;
}


a {
  text-decoration: none ;
  color: #404040;
}

a:hover {
    text-decoration: underline;
}

img {
	vertical-align: middle;
}

ul li{
    list-style-type: circle;
    padding: 5px;
    margin: 5px;
}

#publications li {
    list-style-type: none;
    background-color: #e4e0e0;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
}

h1 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: large;
}
h2 {
    text-align: center;
    font-size: large;
}
h3 {
    text-align: center;
    font-size: large;
}

.slides-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 81.5%; /* This is the aspect ratio (height / width). Adjust as needed. */
    height: 0;
    overflow: hidden;
    z-index: -1;
}

.slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #CCC;
    border-radius: 15px;
    z-index: -1;
}

.social {
	width: 24px;
	height: 24px;
	padding: 5px;	
}


.shaded_links a {
    opacity: 75%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.shaded_links a:hover {
    opacity: 100%;
    text-decoration: none;
    -webkit-filter: grayscale(10%);
    filter: grayscale(10%);
}

.photo {
    float: left;
    max-width: 100px; 
    padding-right: 10px;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);    
}

.old {
    color: black;
}

.linkPoster {
    border: 2px solid #5D6D7E;
    border-radius: 5px;
    display: inline-block;
    color: #5D6D7E;
    font-size: 75%;
    padding: 2px;
}
.linkPoster:hover {
    text-decoration: none;
    background-color: #5D6D7E;
    color: white;
}

.linkCode {
    border: 2px solid #148F77;
    border-radius: 5px;
    display: inline-block;
    color: #148F77;
    font-size: 75%;
    padding: 2px;
}

.linkCode:hover {
    text-decoration: none;
    background-color: #148F77;
    color: white;
}

.linkPdf {
    border: 2px solid #3498DB;
    border-radius: 5px;
    display: inline-block;
    color: #3498DB;
    font-size: 75%;
    padding: 2px;
}

.linkPdf:hover {
    text-decoration: none;
    background-color: #3498DB;
    color: white;
}

.linkSlides {
    border: 2px solid #EC7063;
    border-radius: 5px;
    display: inline-block;
    color: #EC7063;
    font-size: 75%;
    padding: 2px;
}

.linkSlides:hover {
    text-decoration: none;
    background-color: #EC7063;
    color: white;
}


